@{
    ViewData["Title"] = "Edit a Location";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model TravelBlog.Models.Location

<h2>Edit</h2>
<hr />
<h4>Edit this location: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.LocationId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    @Html.LabelFor(model => model.Region)
    @Html.EditorFor(model => model.Region)
    @Html.LabelFor(model => model.FlavorText)
    @Html.EditorFor(model => model.FlavorText)
    @Html.LabelFor(model => model.Language)
    @Html.EditorFor(model => model.Language)
    @Html.LabelFor(model => model.Population)
    @Html.EditorFor(model => model.Population)
    @Html.LabelFor(model => model.Currency)
    @Html.EditorFor(model => model.Currency)
    @Html.LabelFor(model => model.Image)
    @Html.EditorFor(model => model.Image)


    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>