@model TravelBlog.Models.Experience
@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.comment').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("Create", "Comment")',
                data: { id : $(this).data('id')},
                success: function (result) {
                    $('#comment-form').html(result);
                }
            });
        });
    });
</script>
<div class="container">
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <hr />
    <p>@Html.DisplayNameFor(model => model.Drink): @Html.DisplayFor(model => model.Drink)</p>
    <p>@Html.DisplayNameFor(model => model.Eat): @Html.DisplayFor(model => model.Eat)</p>
    <p>@Html.DisplayNameFor(model => model.See): @Html.DisplayFor(model => model.See)</p>
    <br />
    <p>@Html.ActionLink("View All " + (string)ViewBag.Location + " Experiences", "Details", "Location", new { id = ViewBag.LocationId })</p>
</div>

<br />
<h3>Comments for the '@Html.DisplayFor(model => model.Title)' Experience</h3>
@foreach (var comment in Model.Comments)
{
    <p>@comment.CommentBody</p>

}
<br />
<button class="comment" data-id="@Model.ExperienceId">Add Comment</button>
<div id="comment-form"></div>