@model TravelBlog.Models.Experience
@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Title);
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <hr />
    <p>@Html.DisplayNameFor(model => model.Drink): @Html.DisplayFor(model => model.Drink)</p>
    <p>@Html.DisplayNameFor(model => model.Eat): @Html.DisplayFor(model => model.Eat)</p>
    <p>@Html.DisplayNameFor(model => model.See): @Html.DisplayFor(model => model.See)</p>
    <br />  
    <p>@Html.ActionLink("View All " + (string)ViewBag.Location + " Experiences", "Details", "Location", new {id = ViewBag.LocationId })</p>
</div>
<button>@Html.ActionLink("Add Comment", "Create", "Comment", new { id = Model.ExperienceId })</button>